@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Share Tech Mono", monospace;
  color: black;
  background: #f1f1f1;
  height: 90vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
